body{
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:normal;
}
.top {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;

}
.top p{
    font-size: 24px;
    color: #f9faf8;
}
.links{
    /* padding: 10px;
    margin: 10px; */
    display: flex;
    justify-content: space-around;
    gap: 40px;

}
.front {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    background-color: #1F2937;
}
.main {
    padding: 30px;
    margin: 40px;
    width: 20%;
    display: flex;
    flex-flow: column;
    
}
.main h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}
.main p{
    font-size: 18px;
}
button{
    height: 30px;
    width: 100px;
    text-align: center;
    color: #f9faf8;
    background-color: #3882F6;
  
    border: none;
    border-radius: 5px;
}

.second {
    padding: 4%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.second h2{
   
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.imgList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.imgDesc{
    display: flex;
    flex-flow: column;
    align-items: center;

}

.imgDesc p{
    width: 220px;
    text-align: center;
    font-size: 18px;
}

.imgDesc img{
    border-radius: 20px; 
    width: 194px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
}
.quote h3 {
    width: 50%;    
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.quote p{
    width: 30%;
    text-align: end;
}

.signing {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #3882F6;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    gap: 60px;
}
.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 30px;
    gap: 10px;
    color: #f9faf8;
}

.instructions h4{
    margin: 0;
}

.instructions p{
    margin: 0;
}

.modal button{
    border: #f9faf8 solid;
    border-radius: 5px;
}

.bottom{
    background-color: #1F2937;
    color: #f9faf8;
    padding: 1%;
    display: flex;
    justify-content: center;
}